<div class='row'>
  <span class='pull-left'><h3>Signed in as: <%= current_user.email %></h3></span>
  <span class='pull-right'>
    <br/>
    <% if user_signed_in? %>
      <%= link_to('Edit registration', edit_user_registration_path, class: 'btn btn-primary') %>
      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary') %>
    <% else %>
      <%= link_to('Signup', new_user_registration_path, class: 'btn btn-primary')  %>
      <%= link_to('Login', new_user_session_path, class: 'btn btn-primary')  %>
    <% end %>
  </span>
</div